<form action="/posts/" method="POST">
  <select name="example">
    <option value="hello_world">Hello World</option>
    <option value="calculate_pi">Calculate PI</option>
  </select>
  <br>
  <textarea name="program" cols=120 rows=5><%= example %></textarea>
  <br>
  <input type="submit" value="Run"/>
</form>
<% unless output.empty? %>
  <div>
    <h2>Result: </h2>
    <pre><%= output %></pre>
  </div>
<% end %>
